<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rungo.runwithzippy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="DKjBz3QswTOJO8pCeu9u" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="BefWc9-szTk7qlMAH5eahg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="BHJnJL9XS8PaFdJAayopAkZTbcuQ4AJhTbxAEkyyaYGTht4ccuTGf6/SvcwVagwvvwzTOQGvr7/8dNU5QXgght7jzLM0qLFR+8IRl0hTq166Q/GnMKMHXDEsVhCr1WZQn104QRL6PqvPSfK2B7flZgpXlbUwdS4P4Tt+eEpeZ9V2yi94lE254Z9qpOYGOjx7H2hSFq/FQ1sJfUlBKhlGF0eTb5oQ4MyXhOWQ5Nu5V03fmgiH2ts1LuPgbxJoO3IrGqONzc2bqJ7dZUgF5vrnWK8sLpQUTHuvDaXaCsZPI2S+UySyug+xw/7tY1P+WtF0beolJCorkQpSD+iMmG7OqqwDr0RA035VFMwP7Dsd74YLjHC+/3nFodaqYpjljw57eRo5tJV3dIuWA4jRJWK2OLJrk+F1NrY472Ghd3T+gmJy6iu5UXlMYxPHqPIP9n1k8Qk8ALao+uhP18w9P6LjUl6q1SDF4IAOA6ULJKT+GeaaTpQ9ecQCuUiKTpqnsyxoJENICrerfJ6+jB5g11YEr6VQJcSNH4tNemt5FAOiuwkgq7Pipre7hq9PRFxYQXZyrFXTHE47UnkB3qIofpcB2ryLvldYYekEBVfVV39nFjgyL+cljBKMQh7haSrPeJPb/4H33rY5CqE4g/UXExwZfPOF2dM45W75Dx9doqMuwBw=" />

        <activity android:name="com.rungo.runwithzippy.presentation.containers.MainContainer" />

        <activity
            android:name="com.rungo.runwithzippy.presentation.features.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.containers.LoginContainer" />

        <activity android:name=".presentation.features.description.DescriptionActivity" />
        <activity android:name=".presentation.features.creationTraining.CreationTrainingActivity" />
        <activity android:name=".presentation.containers.RunningContainer" />
    </application>

</manifest>